nav {
  background: linear-gradient(
    180deg,
    rgb(233, 226, 161),
    rgb(233, 168, 70),
    rgb(224, 148, 148)
  );
}
.active {
  text-decoration: underline;
}
.click {
  cursor: pointer;
}

.not-click {
  cursor: not-allowed;
  pointer-events: none;
}

.vertical-navbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 20vw;

  background-color: #fff;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.logo-link {
  display: block;
  padding: 20px;
}

.logo-img {
  max-width: 170px; /* adjust as needed */
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 0;
}

.nav-link {
  display: block;
  padding: 10px 20px;
  font-weight: 700;
  text-decoration: none;
  color: #0a0a0a; /* adjust color as needed */
}

.nav-link:hover,
.nav-link.active {
  background-color: #e9e3e3; /* adjust color as needed */
}

.logout-link {
  color: #f00; /* adjust color as needed */
}

/* Base styles for the button */
.button {
  display: inline-block;
  padding: 7px 16px;
  font-size: 16px;
  margin-left: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #c73d38; /* Green border */
  color: #fff; /* White text */
  background-color: #e93819; /* Green background */
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* Hover state */
.button:hover {
  background-color: #45a049; /* Darker green background */
  border-color: #45a049; /* Darker green border */
}

.button:active {
  background-color: #367a3d; /* Even darker green background */
  border-color: #367a3d; /* Even darker green border */
}

/* Optional: Disabled state */
.button:disabled {
  opacity: 0.5; /* Make the button semi-transparent */
  cursor: not-allowed; /* Change cursor to indicate disabled state */
}
